<ul class="autocomplete-list bg-white shadow-lg rounded-md max-h-60 overflow-y-auto absolute w-full z-10">
  <% if @posts.any? %>
  <% @posts.each do |post| %>
  <li class="w-full px-4 py-2 text-gray-800 hover:bg-blue-200 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-blue-200 dark:hover:text-gray-300 cursor-pointer" role="option" data-autocomplete-value="<%= post.id %>" data-autocomplete-label="<%= post.title %>">
    <%= post.title %> (<%= post.user&.name || "" %>, <%= post.category&.name || "" %>)
  </li>
  <% end %>
  <% else %>
  <li class="w-full px-4 py-2 text-gray-800 dark:text-gray-400">
    検索候補がありません。
  </li>
  <% end %>
</ul>
