<div class="auth-links">
  <%# ログインページで表示されないようにする %>
  <% if controller_name != 'sessions' %>
    <p><%= link_to "ログイン", new_session_path(resource_name) %></p>
  <% end %>

  <%# サインアップページで表示されないようにする %>
  <% if devise_mapping.registerable? && controller_name != 'registrations' %>
    <p><%= link_to "新規登録", new_registration_path(resource_name) %></p>
  <% end %>

  <%# パスワードリセット（忘れた場合）のリンク %>
  <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <p><%= link_to "パスワードを忘れましたか？", new_password_path(resource_name) %></p>
  <% end %>

  <%# 確認メールの再送リンク（必要な場合） %>
  <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <p><%= link_to "確認メールが届いていませんか？", new_confirmation_path(resource_name) %></p>
  <% end %>

  <%# アカウントロック解除のリンク（必要な場合） %>
  <% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <p><%= link_to "ロック解除のメールが届いていませんか？", new_unlock_path(resource_name) %></p>
  <% end %>

  <%# 外部認証のサインインボタン（OmniAuthを使用する場合） %>
  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <p><%= button_to "#{OmniAuth::Utils.camelize(provider)}でサインイン", omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "btn btn-secondary" %></p>
    <% end %>
  <% end %>
</div>
