<h1><%= @user.name %>さんのプロフィールページ</h1>
<h5><%= pluralize(@user.views, "view") %></h5>
<p>アカウント作成日: <%= @user.created_at.strftime("%Y年%m月%d日") %></p>
<p>最終ログイン日: <%= @user.last_sign_in_at ? @user.last_sign_in_at.strftime("%Y年%m月%d日 %H:%M") : "未ログイン" %></p>

<p>現在の状態: 
  <span class="badge <%= @user.active? ? 'bg-success' : 'bg-secondary' %>">
    <%= @user.active? ? "アクティブ" : "非アクティブ" %>
  </span>
</p>




 <% if @user.persisted? && @user.profile_image.attached? %>
  <p>現在のプロフィール画像:</p>
  <%= image_tag @user.profile_image.variant(resize_to_limit: [150, 150]) %>
<% else %>
  <p>プロフィール画像はまだありません</p>
<% end %>
  


<canvas data-controller="calendar"
        data-calendar-target="canvas"
        data-chart-data="<%= @chart_data.to_json %>"
        width="800" height="150">
</canvas>
