<% breadcrumb :post, @post %>
<div class="container">
  <%= render partial: "post", locals: { post: @post, show_full_content: @show_full_content } %>

  <div>
    <% if current_user == @post.user %>
    <div class="mt-3 d-flex gap-3">
      <%= link_to "Edit this post", edit_post_path(@post), data: { turbo_frame: "modal" }, class: "btn btn-warning" %> |
      <%= button_to "Destroy this post", @post, method: :delete, data: { turbo_confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>

    </div>
    <% end %>

    <div class="mt-4">
      <%= link_to "Back to posts", posts_path, class: "btn btn-primary" %>
    </div>

  </div>

  <div class="container">
    <%= render 'comments/form', post: @post, comment: @post.comments.build,  submit_label: "Reply" %>
    <% @comments.each do |comment| %>
    <%= render 'comments/comment', post: @post, comment: comment %>
    <% end %>
  </div>