<%= form_with(model: @category, data: { turbo_frame: "modal" }) do |form| %>
<% if @category.errors.any? %>
<div style="color: red; padding: 10px; border: 1px solid red; margin-bottom: 10px;">
  <h2><%= pluralize(@category.errors.count, "error") %>が発生しました:</h2>
  <ul>
    <% @category.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="mb-3">
  <%= form.label :name, "カテゴリー名", class: "form-label" %>
  <%= form.text_field :name, class: "form-control", placeholder: "カテゴリー名を入力" %>
</div>

<div>
  <%= form.submit @category.persisted? ? "Update category" : "Create Category", class: "btn btn-primary" %>
</div>
<% end %>