<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Chart.jsとMatrixプラグイン -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@2.0.0/dist/chartjs-chart-matrix.min.js"></script>

<!-- Date-fnsとアダプター -->
<script src="https://cdn.jsdelivr.net/npm/date-fns@2.29.3/date-fns.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

  </head>

  <body>
    <%= turbo_frame_tag "modal" %>

   <header>
    <%= render 'layouts/navbar' %>

   </header>
   <main>

   <%= turbo_frame_tag "flash" do %>
  <%= render "layouts/flash" %>
<% end %>
<%= breadcrumbs  style: :bootstrap5 %>

   <%= yield %>
   </main>

  </body>
</html>
