<!DOCTYPE html>
<html>

<head>
  <title>MyBlog</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="description" content="Kawashimaの個人ブログアプリです。">
  <meta name="keywords" content="ブログ, Kawashima, 個人ブログ, プログラミング, 技術">
  <meta property="og:title" content="MyBlog - Kawashimaの個人ブログ" />
  <meta property="og:description" content="Kawashimaの個人ブログアプリです。日々のプログラミングや技術に関する投稿。" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <link rel="canonical" href="<%= url_for(only_path: false) %>" />
  <meta property="og:image" content="<%= asset_path('ogp.webp') %>" />

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <!-- Chart.jsとMatrixプラグイン -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@2.0.0/dist/chartjs-chart-matrix.min.js"></script>

  <!-- Date-fnsとアダプター -->
  <script src="https://cdn.jsdelivr.net/npm/date-fns@2.29.3/date-fns.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <%
=begin%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
  <%
=end%>

</head>

<body>
  <%= turbo_frame_tag "modal" %>

  <header class="position-fixed z-3 w-100 top-0 start-0">
    <%= render 'layouts/navbar' %>

  </header>
  <main>

    <%= turbo_frame_tag "flash" do %>
    <%= render "layouts/flash" %>
    <% end %>
    <%= breadcrumbs  style: :bootstrap5 %>

    <%= yield %>
  </main>

</body>

</html>